.App {
  text-align: center;
  background-color: #ecc6e4;
  min-height: 100vh;
}

.App-header {  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 80vh;
}

.App-link {
  color: #61dafb;
}

audio::-webkit-media-controls-panel {
  background-color: #ecc6e4;
}

.light-box {
  width: 90px;
  height: 90px;
}

.up {
  animation: uplight 18s infinite alternate;
}

.mid {
  animation: midlight 30s infinite alternate;
}

.down {
  animation: downlight 10s infinite alternate;
}

@keyframes uplight{
  from{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}

@keyframes midlight{
  from{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}

@keyframes downlight{
  from{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}
