.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.light-box {
  width: 90px;
  height: 90px;
}

.up {
  animation: uplight 18s infinite alternate;
}

.mid {
  animation: midlight 30s infinite alternate;
}

.down {
  animation: downlight 10s infinite alternate;
}

@keyframes uplight{
  from{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}

@keyframes midlight{
  from{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}

@keyframes downlight{
  from{
    opacity: 1;
  }
  33%{
    opacity: 1;
  }
  66%{
    opacity: 0;
  }
  to{
    opacity: 0;
  }
}
