.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-box {
  width: 90px;
  height: 90px;
}

.box1{
  background-color: aliceblue;
}

.box2{
  background-color: aliceblue;
}

.box3{
  background-color: aliceblue;
}

.box4{
  background-color: aliceblue;
}

.box5{
  background-color: aliceblue;
}

.box6{
  background-color: aliceblue;
}

.box7{
  background-color: aliceblue;
}

.box8{
  background-color: aliceblue;
}

.box9{
  background-color: aliceblue;
}